

body{
    background-color: white;
    color: black;
}

.menuHeading{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
    padding-top: 70px;
    font-family: "Architects Daughter", cursive;
    font-size: 20px;
}

.menuSubtitle{
    color:  #FF4E00;
}


.architects-daughter-regular {
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

/*menuimages*/


.burgers{
    margin: 10px;
}

.dessert{
    margin: 10px;
}

.sideOrders{
    margin: 10px;
}

.drinks{
    margin: 10px;
}

/*menu container*/

.foodimgs{
    display: flex;
    justify-content: center;
    padding: 60px;
 
}


/*menu image overlay*/

.burgersol{
    background-color: rgba(0, 0, 0, 0.685);
    color: white;
    width: 350px;
    height: 450px;
    position: relative;
    bottom: 524px;
    left: 214px;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    font-family: "Architects Daughter", cursive;
}   

.burgersol:hover{
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
}

.dessertol{
    background-color: rgba(0, 0, 0, 0.685);
    color: white;
    width: 350px;
    height: 450px;
    position: relative;
    bottom: 974px;
    left: 584px;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    font-family: "Architects Daughter", cursive;
}


.dessertol:hover{
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
}

.sideorderol{
    background-color: rgba(0, 0, 0, 0.685);
    color: white;
    width: 350px;
    height: 450px;
    position: relative;
    bottom: 1424px;
    left: 954px;
    cursor: pointer;
    text-align:center;
    font-size: 24px;
    font-family: "Architects Daughter", cursive;
}

.sideorderol:hover{
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
}

.drinksol{
    background-color: rgba(0, 0, 0, 0.685);
    color: white;
    width: 350px;
    height: 450px;
    position: relative;
    bottom: 1873px;
    left: 1324px;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    font-family: "Architects Daughter", cursive;
}

.drinksol:hover{
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
}

.fullmenubtn{
    position: relative;
    top: -1800px;
    display: flex;
    justify-content: center;
   
}

.fullmenulink{

    display: flex;
    justify-content: center;
    background-color: #FF4E00;
    width: 100px;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    font-family: "Architects Daughter", cursive;
}

.fullmenulink:hover{
    color: white;
    transform: translateY(2px);
}

/*navigation*/

nav{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navLinks{
    color:black;
    font-size: 20px;
    font-family: "Architects Daughter", cursive;
    text-decoration: none;
}

.navLinks:hover{
    color: #FF4E00;
}



/*full menu table*/
.fullMenu{
  
    position: absolute;
    bottom: -1140px;
    right: 680px;
    text-align: center;
}

 table, th, td {
    display: flex;
    flex-direction: row;
    justify-content: center;

 }
 
 td{
    font-size: 20px;
    margin: 10px;
    font-family: "Architects Daughter", cursive;
    
 }

  th{
    font-size: 36px;
    font-family: "Architects Daughter", cursive;
  }

  .redheader{
    color: #FF4E00;
  }
  
  .grnheader{
    color: #8EA604;
  }

  
  .yllwheader{
    color: #F5BB00;
  }

  
  .brwnheader{
    color: #58250E;
  }